
.chat-room {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 15px;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    text-align: left; 
}

.sent {
    align-self: flex-end;
    background-color: #e6f7ff;
}

.received {
    align-self: flex-start;
    background-color: #f1f1f1;
}

.username {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.text {
    margin: 0;
}


.message-input {
    display: flex;
    gap: 10px;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.message-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #0056b3;
}
