.dropdown-menu-end {
    right: 0;
    left: auto;
}


.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    border-radius: 20px;
    width: 250px;
}

.search-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 20px;
}
