
html, body {
    height: 100%;
    margin: 0; 
    background-color: #fff5e6; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.register-container:hover{
    background-color: #e28f5e; 
}

.register-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px; 
}

.register-form {
    flex: 1; 
}

.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form .form-control {
    margin-bottom: 15px; 
}

.btn {
    width: 100%; 
}

.text-center {
    text-align: center;
}
